.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;

}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.message {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  margin-top: 16px;
  padding: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  border-radius: 5px;
}

.messageText {
  font-family: 'Poppins', sans-serif;
  font-style: medium;
}

.inputField {
  padding: 12px;
}
